@model IEnumerable<AdminMenuItem>
<li class="nav-item dropdown bg-dark">
    <a id="adminDropdown" asp-controller="Admin" asp-action="Index" class="nav-link dropdown-toggle" role="button" data-toggle="dropdown">Admin<b class="caret"></b></a>
    <div class="dropdown-menu" aria-labelledby="adminDropdown">
        @{
            foreach (var menuItem in Model)
            {
                <a class="dropdown-item text-secondary" asp-controller="@menuItem.ControllerValue" asp-action=@menuItem.ActionValue>@menuItem.DisplayValue</a>
            }
        }
    </div>
</li>