@model UserRoleViewModel

<div class="col-md-4 offset-md-4">
    <div class="card bg-dark text-white pt">
        <div class="card-header text-center">
            <h2>Add user to role</h2>
        </div>
        <div class="card-body">
            <form asp-controller="Admin" asp-action="AddUserToRole">
                <input type="hidden" name="roleId" value="@Model.RoleId" />
                <select class="form-control" asp-for="UserId"
                        asp-items="@(new SelectList(Model.Users, "Id", "UserName"))">
                    <option>Please select a user</option>
                </select>
                <input class="btn btn-primary" value="Add to role" type="submit" />
            </form>

            <a asp-action="RoleManagement" class="btn btn-primary">Done</a>
        </div>
    </div>
</div>